.main  {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    background-image: url(./muniecoquini6.png);
    background-repeat: no-repeat;
    background-size:contain;
    
}

@media (min-width: 320px) and (max-width: 470px){
    .main  {
        height: auto;
        justify-content: space-around;
        align-items: start;
        margin-top: 1.5rem;
        padding: 0;
        gap: 2rem;

        background-size:cover;
        background-position-y: top;
        background-position-x: left;
    }
}

