*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
}

.contenedor_logo{
    width:25%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    height: 100%;
    width: 40%;
    border-radius: 20px;
}
.titulo_h1{
    font-size: 30px;
    font-family: 'Caladea', serif;
    color: rgb(59, 59, 59);
    text-align: left;
    padding: 0 2rem;
}

.menu{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu_lista{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: .6rem;
}

.elemento_link{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: 'Caladea', serif;
    font-size: 20px;
    font-weight: 700;
    color: rgba(45, 45, 45, 0.8);
    border-radius: 15px;
}

.boton:hover{
    cursor: pointer;
    box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.416);
    background-color: rgb(166, 166, 166, 0.792);
}
.boton{
    width: 16%;
    height: 2rem;
    display: flex;
    place-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgba(166, 166, 166, 0.792) 10%);
    border-radius: 15px;
    transition: all .5s;
    border: none;
}

@media (min-width: 412px) and (max-width: 916px){
    .header{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border: none;
    }
    .contenedor_logo{
        width: 50%;
        height: auto;
        justify-content: space-around;
        align-items: center;
        gap: 0 .6rem;
    }
    .titulo_h1{
        font-size: 24px;
        text-align: right;
        padding: 0;
    }
    .logo{
        height: 100%;
        width: 60%;
        border-radius: 20px;
    }


    .menu{
        width: 40%;
        justify-content: right;
        padding-right: .5rem;
    }
    .menu_lista{
        width: 75%;
        flex-direction: column;
        align-items: end;
        padding-top: 2rem;
        gap: .8rem;

    }
    .boton{
        width: 90%;
        padding: .5rem 0;
    }
    .elemento_link{
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    
}
