*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
}

.contenedor_logo{
    width:25%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;

}

.logo{  
    width: 50%;
    border-radius: 20px;
}
.titulo_h1{
    font-size: 30px;
    font-family: 'Caladea', serif;
    color: rgb(75, 75, 75);
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.751);
}

.menu{
    width: 70%;
    display: flex;
    align-items: center;
}

.menu_lista{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: .6rem;
}

.elemento_link{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: 'Caladea', serif;
    font-size: 20px;
    font-weight: 700;
    color: rgba(45, 45, 45, 0.8);
    border-radius: 15px;
}

.boton:hover{
    cursor: pointer;
    box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.416);
    background-color: rgb(166, 166, 166, 0.792);
}
.boton{
    width: 16%;
    height: 2rem;
    display: flex;
    place-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgba(166, 166, 166, 0.792) 10%);
    border-radius: 15px;
    transition: all .5s;
    border: none;
}

@media (min-width: 320px) and (max-width: 470px){
    .header{
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding-bottom: .5rem;
        border-bottom: 1.5px solid grey;
    }
    .contenedor_logo{
        width: 40%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: start;
        gap: 0;
        padding-left: 1rem;
    }
    .titulo_h1{
        width: 100%;
        font-size: 20px;
        text-align: left;
        padding: 0;
    }
    .logo{
        width: 90px;
        height: 55px;
    }


    .menu{
        width: 55%;
    }
    
    .menu_lista{
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: end;
        padding-right: .5rem;
        gap: .8rem;
    }

    .boton{
        width: 95px;
        height: 30px;
        place-items: center;
    }
    
    .elemento_link{
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        color: rgba(45, 45, 45, 1);
    }
    
}
